/* src/content/injected-styles.css */
.airedactx-button-panel {
  position: absolute;
  z-index: 2147483647;
}

.airedactx-button {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.airedactx-button:hover {
  background-color: #FFFFFF;
}

.airedactx-button img {
  width: 24px;
  height: 24px;
}

.airedactx-redacted-field {
  background-color: #fff8e1 !important;
  color: #212121 !important;
}